<a href="https://colab.research.google.com/github/KravtsovaAlyona/data_science_platform/blob/main/%D0%9B%D0%B0%D0%B11_%D0%9A%D1%80%D0%B0%D0%B2%D1%86%D0%BE%D0%B2%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа к лекции 1
Ваше имя: Кравцова А.Е

Ваш адрес электронной почты:KravtsovaAE@mgpu.ru

## Упражнение 1.1. Типы данных и операции
1. Определите две переменные и присвойте первой целое число, а второй — число с плавающей запятой. Определите новую переменную и присвойте сумму двух предыдущих переменных. Каков тип данных третьей переменной?
2. Переназначьте переменную с другим типом данных, например, возьмите одну из числовых переменных и присвойте ей строку. Какой новый тип данных?
3. Посмотрите, что произойдет, если вы попытаетесь добавить строку к строке.
4. Посмотрите, что произойдет, если вы добавите строку к числу с плавающей запятой или целому числу.

In [ ]:
#1 В данном случае будет посчитан результат сложения переменных.Сумма переменных типа float
x=5.5
y=6
z=x+y
print(z)

11.5

In [ ]:
#2 При сложение числовой перемнной со строкой появится ошибка
x='sun'
y=6
z=x+y
print(z)

TypeError: can only concatenate str (not "int") to str

In [ ]:
#3 при сложении строк, операция сложения будет выполнена
x='sunny'
y=' day'
z=x+y
print(z)

sunny day

In [ ]:
#4 При сложении строки с вещественной переменной появится ошибка
x='sunny'
y=6
z=x+y
print(z)

TypeError: can only concatenate str (not "int") to str

## Упражнение 1.2. Запуск программ

  * Создайте новый файл Python(или файл с расширением `.ipynb`) и используйте функцию `double_number` в качестве шаблона. Измените код, чтобы добавить два числа вместо удвоения одного числа.
  * Можете ли вы догадаться, что произойдет, если изменить отступ? Выполните данное действие.
  * Попробуйте, что произойдет, если вы напечатаете `a` в самом конце программы. Пояснить, что происходит?
 [Текст ссылки](https://)

In [3]:
def double_number(a,b):
        return a+b

print(double_number((3), (5)))

8

In [ ]:
# При изменении отступа появится ошибка
def double_number(a,b):
    a *= 1
      b *= 1
    return a+b

print(double_number((3), (5)))
#print(double_number(14.22))

IndentationError: unexpected indent (<ipython-input-43-deb32e5a5844>, line 4)

In [5]:
#если написать а в конце, появится ошибка,что переменная неопределена
def double_number(a,b):

    return a+b

print(double_number((3), (5)))
a

8

NameError: name 'a' is not defined

## Упражнение 1.3. Создание ячеек, выполнение кода

1. Создайте новую ячейку кода ниже, где вы определите переменные, содержащие ваше имя, ваш возраст  и вашу специальность.
2. Создайте еще одну ячейку, использующую эти переменные, и выведите объединенную строку с указанием вашего имени, специальности и возраста в годах, месяцах и днях (при условии, что сегодня ваш день рождения). Вывод должен выглядеть так:

```
Имя: Кот-ученый, Специальность: Бизнес-Информатика, Возраст: 18 лет, или 216 месяцев, или 6480 дней..
```

In [ ]:
name='Алёна'
specialization='Бизнес-Информатика'
age=20

print('Имя:', name, ', Специальность:',specialization, ', Возраст:', age, 'лет, или', (age*12),'месяцев, или', 30*12*age, 'дней..')

Имя: Алёна , Специальность: Бизнес-Информатика , Возраст: 20 лет, или 240 месяцев, или 7200 дней..

## Упражнение 1.4: Функции
Напишите функцию, которая
  * принимает две числовые переменные
  * умножает их друг на друга
  * делит их на числовую переменную, определенную в области видимости вне функции
  * и возвращает результат.

Выведите результат функции для трех разных наборов входных переменных.

In [43]:
# Ваш код
a=9

def multiply(x,y):
  return (x*y)/a
print(multiply(45,2))
print(multiply(15,9))
print(multiply(27,3))

10.0
15.0
9.0

## Упражнение 1.5*

Есть некоторые данные о количестве книг, прочитанных разными людьми, работающими в книжном магазине Владимира. Создайте код Python, который учитывает каждого человека и выводит, сколько книг он прочитал. Если кто-то прочитал 0 книг, выведите «___ не читал ни одной книги!» вместо количества книг.

In [ ]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

Существует несколько способов решить эту задачу: можно изучить функцию `zip()`, использовать `enumerate()`, `range` и `len` или использовать другие методы. Чтобы напечатать имена и значения, вы можете использовать конкатенацию строк (+), форматирование f-строки или другие методы.

In [18]:
people = ['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia']
books_read = [12, 6, 0, 7, 4, 10, 15]

zipp = zip(people, books_read)
zipp_list = list(zipp)

print(zipp_list)

[('Krishnang', 12), ('Steve', 6), ('Jimmy', 0), ('Mary', 7), ('Divya', 4), ('Robert', 10), ('Yulia', 15)]

Преобразуйте только что созданный цикл в функцию, которая принимает два списка (прочитанные книги и людей) в качестве аргументов.

In [15]:
def books(people, books_read):
  for i in range(len(people)):
      if books_read[i]>0:
        print(people[i], "прочитал", books_read[i], "книг")
      else:
        print(people[i], 'не читал ни одной книги!')
print(books(['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia'],[12, 6, 0, 7, 4, 10, 15]))

Krishnang прочитал 12 книг
Steve прочитал 6 книг
Jimmy не читал ни одной книги!
Mary прочитал 7 книг
Divya прочитал 4 книг
Robert прочитал 10 книг
Yulia прочитал 15 книг
None

Отсортируйте значения `books_read` от большего к меньшему и выведите трех первых людей с количеством прочитанных ими книг. Некоторые возможные способы решения этой задачи включают использование сортировки аргументов `NumPy`, создание словаря и создание кортежей.

In [40]:
people = np.array(['Krishnang', 'Steve', 'Jimmy', 'Mary', 'Divya', 'Robert', 'Yulia'])
books_read = np.array([12, 6, 0, 7, 4, 10, 15])

sorted_books = np.argsort(-books_read)
top_three_people = people[sorted_books[:3]]
top_three_books_read = books_read[sorted_books[:3]]

for person, count_books_read in zip(top_three_people, top_three_books_read):
  print(f'{person}: {count_books_read} книг прочитано')

Yulia: 15 книг прочитано
Krishnang: 12 книг прочитано
Robert: 10 книг прочитано